<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
  
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar start here -->
    <nav class="navbar navbar-expand-lg border-bottom border-body mb-5" style="background-color: #384569;"data-bs-theme="dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'homeview' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'company_view' %}">Company Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'employee_view' %}">Employee Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'device_view' %}">Device Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tracking_view' %}">Tracking Records</a>
              </li>
              {% if user.is_authenticated %}
              <li><a class="nav-link " href="{% url 'logout' %}" target="_blank"style="color:red">Log-out</a></li>
              {% else %}
              <li><a class="nav-link " href="{% url 'login' %}" target="_blank" style="color:red">Login</a></li>
              
    
              {% endif %}
          </div>
        </div>
      </nav>
      <!-- navbar end here -->

